{% extends 'base.html.twig' %}

{% block body %}

    <h1>Billeterie du Musée du Louvre</h1>
</br>
<div> Le Musée est ouvert tous les jours sauf le mardi </br></br>
Le Musée est fermé les 1er mai, 1er novembre et 25 décembre <br></br>
Le Musée est gratuit le dimanche et les jours fériés sauf 1er mai, 1er novembre et 25 décembre </br></br>
<strong>TARIFS</strong> </br>
Gratuit pour les moins de 4 ans </br>
Gratuit pour les demandeurs d'emploi (sur présentation d'un justificatif)</br>
De 4 à 12 ans : 8 € </br>
Plus de 12 ans jusqu'à 60 ans : 16 € </br>
Plus de 60 ans : 12 € </br></br>
Tarif Réduit : 10 € </br>
étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…</br>
sur présentation d'un justificatif</br>

</br> Après 14 h : Billets pour l'après-midi seulement </br>

{% endblock %}
