{% block body %}
<div class="nav-space-checkout">
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6">
<form action="" method="POST">
<script
src="https://checkout.stripe.com/checkout.js" class="stripe-button"
data-key="pk_live_GoKh6VgFyGr3BjvOWdDR6QXC"
data-amount="999"
data-name="Euro"
data-description="Widget"
data-locale="auto">
</script>
</form>
</div>
</div>
</div>
</div>
<br/>
<br/>
{% endblock %}
