{% extends 'base.html.twig' %}

{% block body %}

    <h3><span>Commander des billets d'entrée au musée</h3>


          <button type="submit" class ="btn btn-primary">Ajouter un visiteur</button>


      <br/>
      <div>
          
      </div>

{% endblock %}
